table {
    font-family: arial, sans-serif;
    border-collapse: collapse;  
    width: 100%;
    background-color: rgb(203, 214, 210);
  }
  
  td, th {
    border: 1px solid #dddddd;
    min-width: 100px;
    text-align: left;
    padding: 10px;
    
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  [data-sort|="ACS"]::after { /* data-years attribute starts with 1900 as the only value or first in a dash-separated list */
    content: '';
    border: solid grey;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    margin-left: 8px;
    margin-right: 4px;
    vertical-align: middle;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  [data-sort|="DECS"]::after { /* data-years attribute starts with 1900 as the only value or first in a dash-separated list */
    content: '';
    border: solid grey;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    margin-left: 8px;
    margin-right: 4px;
    vertical-align: middle;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .arrow {
    border: solid grey;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    margin-left: 8px;
    margin-right: 4px;
    vertical-align: middle;
    
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .container {
    background-color: black;
    display: inline-flex; /* or inline-flex */
    gap: 5px;
  }